[submodule "containers/bulkrnaseq"]
	path = containers/bulkrnaseq
	url = https://github.com/mwilde49/bulkseq
[submodule "containers/psoma"]
	path = containers/psoma
	url = https://github.com/mwilde49/psoma.git
[submodule "containers/10x"]
	path = containers/10x
	url = https://github.com/mwilde49/10x
